<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persons</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1>Persons</h1>

    <form method="GET" class="form-inline mb-4">
        <div class="form-group mr-2">
            <input type="text" class="form-control" placeholder="Search..." name="q" value="{{ request.GET.q }}">
        </div>
        <button type="submit" class="btn btn-primary mr-2">Search</button>
    </form>

    {% for person in persons %}
        <h5 style="font-size: 16px;"><a href="{% url 'person' person.id %}">{{ person.fname }} {{ person.lname }} ({{ person.birthdate }} let, {{ person.sex }}, {{ person.address }})</a></h2>  
    {% endfor %}  
    <a href="{% url 'addperson' %}" class="btn btn-primary">Add Person</a>

    {% if persons.count %}
    <div class="mt-4">
        <h2>Statistics</h2>
        <p>{{ persons_with_criminal_record_percent }}% of persons have a Criminal Record</p>
        <h3>Top 3 Crimes:</h3>
        <ul>
            {% for crime in top_crimes %}
                <li>{{ crime }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

<div class='footer fixed-bottom text-right' style="background-color: #007bff; padding: 10px;">
    <a href="{% url 'cases' %}" class="btn btn-secondary float-right">Show Cases <i class="bi bi-arrow-right"></i></a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
